@{
    ViewBag.Title = "Generate Key in CXone";
}
<ul>
    <li>Navigate to My Profile page or User Page.</li>
</ul>
<p>
    <img class="center-block" src="@Url.Content("~/Content/images/Profiles.png")" width="250" height="180">
    Or
    <img class="center-block" src="@Url.Content("~/Content/images/Users.png")" width="450" height="150">
</p>
<p>
  <ul>
    <li>Then go to the Access Key tab:</li>
  </ul>
    <img class="center-block" src="@Url.Content("~/Content/images/ClickAccessKeys.png")" width="200" height="100">
   <ul> <li>Click Generate Access Key:</li>
   </ul>
    <img class="center-block" src="@Url.Content("~/Content/images/GenerateAccessKey.png")" width="200" height="100">
    </p>
<ul>
    <li>This will generate an Access KeyId and link to show the accessKey secret:</li>
</ul>
<p>
    <img class="center-block" src="@Url.Content("~/Content/images/AccessKeyId.png")"  width="580" height="50">
</p>
<ul>
    <li>Click show secret:</li>
</ul>
<p>
    <img class="center-block " src="@Url.Content("~/Content/images/AccessKeySecret.png")" width="400" height="100">
</p>
<p>
    Warning Note: this will be the only time you can get the access key secret.
</p>
<p>Save the access key and secret locally.</p>