<h4 style="font-size: 1.5em; line-height:0;">Agent Session Events</h4>
<div style="font-size: 1em;">
    <ol class="sidebar-list" id="menu-item-list">
        <li>@Html.ActionLink("Agent Events", "AgentEvents", "Documentation")</li>

        <li>@Html.ActionLink("Personal Connection Events", "PersonalConnectionEvents", "Documentation")</li>

        <li>@Html.ActionLink("Call Contact Events", "CallContactEvents", "Documentation")</li>

        <li>@Html.ActionLink("Other Events", "OtherEvents", "Documentation")</li>

        <li>@Html.ActionLink("Work Item Contact Events", "WorkItemContactEvents", "Documentation")</li>

        <li>@Html.ActionLink("Indicator Events", "IndicatorEvents", "Documentation")</li>

        <li>@Html.ActionLink("Page Open Events", "PageOpenEvents", "Documentation")</li>

        <li>@Html.ActionLink("Chat Contact Events", "ChatContactEvents", "Documentation")</li>

        <li>@Html.ActionLink("Supervisor Events", "SupervisorEvents", "Documentation")</li>

    </ol>
</div>

