<h4 style="font-size: 1.5em;line-height:0;">Getting Started</h4>
<div style="font-size: 1em;">
    <ol id="menu-item-list">
        <li>@Html.ActionLink("Register Your Application", "RegisterYourApplication", "Documentation")</li>

        <li>@Html.ActionLink("Create an Authorization Key", "CreateAnAuthorizationKey", "Documentation")</li>

        <li>@Html.ActionLink("Send a Token Request", "SendATokenRequest", "Documentation")</li>

        <li>@Html.ActionLink("Send an Implicit Request", "SendAnImplicitRequest", "Documentation")</li>

        <li>@Html.ActionLink("Retrieve the Token", "RetrieveTheToken", "Documentation")</li>

        <li>@Html.ActionLink("Use the Token", "UseTheToken", "Documentation")</li>

        <li>@Html.ActionLink("Expired Tokens", "ExpiredTokens", "Documentation")</li>

        <li>@Html.ActionLink("Token Request Example Code", "TokenRequestExampleCode", "Documentation")</li>
    </ol>
</div>