<h4 style="font-size: 1.5em; line-height:0;">Mobile SDK</h4>
<div style="font-size: 1em;">
    <ol class="sidebar-list" id="menu-item-list" >
        <li>@Html.ActionLink("Adding the Mobile SDK", "AddingMobileSDK", "Documentation")</li>

        <li>@Html.ActionLink("Adding the Chat Widget", "AddingChatWidget", "Documentation")</li>

        <li>@Html.ActionLink("Adding the Callback Widget", "AddingCallbackWidget", "Documentation")</li>

        <li>@Html.ActionLink("Customizing Widget Interfaces", "CustomizeWidgetInterface", "Documentation")</li>

        <li>@Html.ActionLink("Customizing the Callback Widget", "CustomizeCallbackWidget", "Documentation")</li>

        <li>@Html.ActionLink("Using Queue Stats", "UsingQueueStats", "Documentation")</li>

        <li>@Html.ActionLink("Key Resource Classes", "KeyResourceClasses", "Documentation")</li>
    </ol>
</div>
